@import "_flex"; //导入的弹性盒兼容插件
@import "reset"; //导入的公共样式
.margin {
    width: 1000px;
    margin: 0 auto;
}

header {
    height: 56px;
    background: #25292e;
}

header .logo {
    float: left;
    padding-top: 10px;
}

header .margin {
    position: relative;
}

header .header-r {
    float: right;
    font-size: 0;
}

header .header-r span {
    color: #666666;
    display: inline-block;
    padding: 0 15px 0 16px;
    font-size: 12px;
    line-height: 56px;
}

header .header-r b {
    font-size: 12px;
    color: #525961;
}

header .header-r span:nth-child(1) {
    color: #ccc;
}

header .header-r .shopCar .shopCarList {
    position: absolute;
    bottom: -120px;
    right: 0;
    z-index: 2;
    width: 320px;
    text-align: center;
    display: none;
}

header .header-r .shopCar .shopCarList p:nth-child(1) {
    font: 12px/70px "";
    background: #292f34;
    color: #CCCCCC;
}

header .header-r .shopCar .shopCarList p:nth-child(2) {
    font: 12px/50px "";
    background: #7dbfde;
    color: #fff;
}

header .header-r .msg .msgList {
    position: absolute;
    background: #292f34;
    z-index: 2;
    width: 190px;
    right: 0;
    display: none;
}

header .header-r .msg .msgList a {
    display: block;
    font: 12px/45px "";
    width: 160px;
    margin: 0 15px;
    border-bottom: 1px solid #666666;
}

header .header-r .msg .msgList a:last-child {
    border: 0;
}

header .header-r .msg .msgList a s {
    position: absolute;
    right: 15px;
}

nav {
    height: 49px;
    border-bottom: 4px solid #ededed;
    position: relative;
}

nav .navTitle {
    float: left;
}

nav .navTitle li {
    float: left;
}

nav .navTitle li.subli {
    width: 164px;
}

nav .navTitle li>a {
    display: block;
    color: #333;
    font: 15px/45px "";
    border-bottom: 4px solid #ededed;
    width: 118px;
    text-align: center;
}

nav .navTitle li>a.homepage {
    text-align: left;
}

nav .navTitle li>a.active {
    border-color: #25292E;
}

nav .shopList {
    background: #FFFFFF;
    z-index: 5;
    width: 100%;
    position: absolute;
    top: 49px;
    left: 0;
    padding-top: 30px;
//  @include flexbox;
//  @include justify-content(space-between);
//  @include align-items(flex-start);
    display: none;
    .storeLeft {
        float: left;
        dl {
            width: 750px;
            @include flexbox;
            @include flex-wrap(wrap);
            dd {
                width: 107px;
                height: 85px;
                img {
                    display: block;
                    width: 40px;
                    height: 40px;
                }
                a {
                    margin-left: 6px;
                    font: 900 14px/14px "黑体";
                }
            }
        }
        .checkAllShop {
            margin-top: 80px;
            a {
                font: 12px/130px "";
                color: #666666;
            }
            a:nth-child(2) {
                margin-left: 60px;
            }
        }
    }
    .storeRight {
        float: right;
        width: 232px;
        a {
            display: block;
            img {
                width: 100%;
                height: 232px;
            }
            p {
                font: 12px/54px "";
            }
        }
    }
}

nav .magazineMsg,
nav .shareMsg {
    width: 100%;
    z-index: 6;
    position: absolute;
    top: 49px;
    left: 0;
    background: #FFFFFF;
}

.xiala {
    width: 740px;
    @include flexbox;
    @include flex-wrap(wrap);
    display: none;
    a {
        position: relative;
        margin-right: 75px;
        font: 12px/54px "";
        color: #666666;
    }
}

nav .magazineList {
    @extend .xiala;
}

nav .shareList {
    @extend .xiala;
}

nav .search-input {
    float: right;
    position: relative;
    height: 45px;
    width: 260px;
    border-bottom: 4px solid #25292E;
    display: none;
}

nav .search-input .txt {
    float: left;
    width: 188px;
    height: 30px;
    position: relative;
    left: 4px;
    top: 8px;
    border: 0;
    padding-left: 4px;
    outline: medium;
}

//搜索小图标的公共样式
.search-menu {
    float: right;
    width: 46px;
    height: 40px;
    background: url(../static/images/search-icon.png) no-repeat center;
    border: 0;
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
}

nav .search-input .btn {
    @extend .search-menu
}

nav .noOffmenu {
    @extend .search-menu
}

#banner {
    padding-top: 28px;
    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .swiper-pagination {
        left: 0;
        right: 0;
        margin: auto;
        span {
            width: 20px;
            height: 4px;
            border-radius: 0;
            margin: 0 3px;
            opacity: 0.5;
        }
    }
}