@import "_flex"; //导入的弹性盒兼容插件
@import "reset"; //导入的公共样式
@import "iconfont";
.margin {
    width: 1000px;
    margin: 0 auto;
}
.bgimg{
    background: url(https://imgs-qn.iliangcang.com/images/default/icon.png?v1503) no-repeat;
    display: inline-block;
}


#banner {
    padding-top: 28px;

    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .swiper-pagination {
        left: 0;
        right: 0;
        position: relative;
        margin: auto;
        height: 24px;

        span {
            width: 20px;
            height: 4px;
            border-radius: 0;
            margin: 0 3px;
            opacity: 0.5;
        }
    }
}

#main {
    padding-top: 24px;
    div.enjoy {
        ul {
            @include flexbox;
            @include justify-content(space-between);
            width: 100%;
            li {
                @include flexbox;
                @include flex-direction(column);
                @include justify-content(space-between);
                width: 318px;
                h3 {
                    img {
                        width: 100%;
                        height: 190px;
                    }
                }
                h4 {
                    img {
                        width: 100%;
                        height: 403px;
                    }
                }
            }
        }
    }
    div.hot {
        .title {
            padding-top: 36px;
            text-align: center;
            border-bottom: 1px solid #CCCCCC;

            span {
                font: 12px/38px "";
                color: #333333;
            }
        }
    }
    div.hotGoods {
        overflow: hidden;
        ul.hotGoodsList {
            padding-top: 18px;
            width: 110%;
            li {
                float: left;
                margin-top: 20px;
                margin-right: 26px;
                width: 316px;
                div.imgCon {
                    position: relative;
                    width: 316px;
                    height: 316px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                    a {
                        background: rgba(87, 87, 87, 0.4);
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: none;
                        left: 0;
                        top: 0;

                        span {
                            display: block;
                            margin-left: 20px;
                            font: 900 italic 16px/60px "";
                            color: #0c6eba;
                        }

                        h3 {
                            font: 900 12px/42px "";
                            margin: 54px 0 0 40px;
                        }

                        p {
                            width: 256px;
                            text-align: center;
                            font: 12px/20px "";
                            margin-left: 40px;
                        }
                    }
                }

                div.bar {
                    width: 100%;

                    .who {
                        float: left;

                        img {
                            box-shadow: 2px 2px 0 2px #EEEEEE;
                            width: 32px;
                            height: 32px;
                        }

                        i {
                            font: 12px/60px "";
                            color: #878787;
                            margin-left: 20px;
                        }
                    }

                    .like {
                        float: right;
                        font: 12px/60px "";
                        color: #878787;

                        b {
                            color: #ccd7d9;
                        }
                    }
                }
            }
        }

    }

    a.loadmore {
        display: block;
        width: 148px;
        height: 50px;
        margin: 0 auto;
        border: 3px solid #25292e;
        font: 900 italic 16px/48px "";
        color: rgb(102, 88, 88);
        text-align: center;
        margin-top: 76px;

        &:hover {
            background: #25292e;
            color: #fff;
        }
    }

}

